<!doctype html>
<html>
  <head>
    <style>
      body{
        margin: 0;
        padding: 0;
        background: #fff;

        color: #fff;
        font-family: Arial;
        font-size: 12px;
      }

      .body{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: auto;
        height: auto;
        /*background-image: url(http://ginva.com/wp-content/uploads/2012/07/city-skyline-wallpapers-008.jpg);*/
        background-image: url(http://pixelhint.com/demo/sublime/img/billboard.jpg); background-size: cover;
        -webkit-filter: blur(5px);
        z-index: 0;
      }

      .grad{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: auto;
        height: auto;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
        z-index: 1;
        opacity: 0.4;
      }

      .haha{
        position : relative;
        z-index:2;
      }

      .chat
      {
          list-style: none;
          margin: 0;
          padding: 0;
      }

      .chat li
      {
          margin-bottom: 10px;
          padding-bottom: 5px;
          border-bottom: 1px dotted #B3A9A9;
      }

      .chat li.left .chat-body
      {
          margin-left: 60px;
          margin-right: 60px;
      }

      .chat li.right .chat-body
      {
          margin-right: 60px;
          margin-left: 60px;
      }


      .chat li .chat-body p
      {
          margin: 10px 0;
          color: #777777;
      }

      .panel .slidedown .glyphicon, .chat .glyphicon
      {
          margin-right: 5px;
      }

      .panel-body
      {
          overflow-y: scroll;
          height: 400px;
      }

      ::-webkit-scrollbar-track
      {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          background-color: #F5F5F5;
      }

      ::-webkit-scrollbar
      {
          width: 12px;
          background-color: #F5F5F5;
      }

      ::-webkit-scrollbar-thumb
      {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          background-color: #555;
      }

      .fullscreen_bg {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: 50% 50%;
      background-image: url('http://cleancanvas.herokuapp.com/img/backgrounds/color-splash.jpg');
      background-repeat: repeat;
      }

    </style>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="body"></div>
    <div class="grad"></div>
    <!-- <div class="fullscreen_bg"> -->
      <div class="container haha" style="margin-top:10%;">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <div class="panel panel-primary">

                      <div class="panel-heading">
                          <span class="glyphicon glyphicon-comment"></span> Chat - (Connecté sous le nom de <strong><%= @userSession %></strong>)
                          <div class="btn-group pull-right">
                              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                  <span class="glyphicon glyphicon-chevron-down"></span>
                              </button>
                              <ul class="dropdown-menu slidedown">
                                  <li>
                                    <form action="/supAll" method="POST">
                                      <input id="userDeco" name="user_id" value="<%= @userId %>" type="hidden">
                                      <input type="submit" class="btn btn-link" value="Supprimer tous mes messages"/>
                                    </form>
                                  </li>
                                  <li class="divider"></li>
                                  <li>
                                    <form action="/deco" method="POST">
                                      <input id="userDeco" name="user" value="<%= @userSession %>" type="hidden">
                                      <input type="submit" class="btn btn-link" value=" Se déconnecter"/>
                                    </form>
                                  </li>
                              </ul>
                          </div>
                      </div>

                      <div class="panel-body">
                          <ul class="chat">
                            <% if @messages.any? %>
                                <% for @m in @messages %>
                                    <% if @m.user.pseudo == @userSession %>
                                       <!-- on affiche vers la droite -->
                                      <li class="right clearfix">
                                        <span class="chat-img pull-right">
                                          <img src="http://placehold.it/50/FA6F57/fff&amp;text=<%=@m.user.initiale%>" alt="User Avatar" class="img-circle">
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted" style="text-align:left;">
                                                  <form action="/supOne" method="POST">
                                                    <input id="idMess" name="id" value="<%= @m.id %>" type="hidden"/>
                                                    <input type="submit" class="btn btn-danger btn-xs" value="Supprimer"/>
                                                  </form>
                                                </small>
                                                <strong class="pull-right primary-font"><%= @m.user.pseudo %></strong>
                                            </div>
                                            <p>
                                                <%= @m.message %>
                                            </p>
                                        </div>
                                      </li>

                                    <% else %>
                                        <!-- sinon ce sont les autres users donc à gauche -->
                                      <li class="left clearfix">
                                          <span class="chat-img pull-left">
                                            <img src="http://placehold.it/50/55C1E7/fff&amp;text=<%= @m.user.initiale %>" alt="User Avatar" class="img-circle">
                                          </span>
                                          <div class="chat-body clearfix">
                                              <div class="header">
                                                  <strong class="primary-font"><%= @m.user.pseudo %></strong>
                                                  <!--<small class="pull-right text-muted">
                                                      <button class="glyphicon glyphicon-remove"></button>
                                                  </small> -->
                                              </div>
                                              <p>
                                                  <%= @m.message %>
                                              </p>
                                          </div>
                                      </li>

                                    <% end %>

                                <% end %>

                            <% else  %>

                                <li class="left clearfix">
                                  <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/000/FFF&amp;text=JS" alt="User Avatar" class="img-circle">
                                  </span>
                                  <div class="chat-body clearfix">
                                      <div class="header">
                                          <strong class="primary-font">Jack Sparrow</strong>
                                      </div>
                                      <p>
                                          Moi ? Je suis malhonnête ! Et on sait qu’un homme malhonnête le restera quoi qu’il arrive... Honnêtement, ce sont des hommes honnêtes dont il faut se méfier, parce qu’on peut jamais prévoir à quel moment il feront un truc incroyablement... stupide.
                                          Hey face de poulpe tu ne me crois pas ? <strong>Alors lance la discussion et je disparaîtrai à tout jamais !</strong>
                                      </p>
                                  </div>
                              </li>

                            <% end %>

                          </ul>
                      </div>
                      <div class="panel-footer">
                        <form action="/goMess" method="POST">
                          <input id="userAuth" name="message[user_id]" value="<%= @userId %>" type="hidden">
                          <div class="input-group">
                              <input id="btn-input" name="message[message]" type="text" class="form-control input-sm" placeholder="Entrez votre message ici...">
                              <span class="input-group-btn">
                                  <input type="submit" class="btn btn-warning btn-sm" vaid="btn-chat" value="Envoyer"/>
                              </span>
                          </div>
                        </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <!-- </div> -->
  </body>
</html>
